* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-parent7 {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid;
  background-color: rgb(225, 231, 231);

  width: 1440px;
  height: 734px;

  gap: 1.5rem;

  padding-block: 4rem;
}

.text7 {
  text-align: center;
  align-self: center;
  width: 793px;
  height: 205px;
}

.flex-parent {
  display: flex;
  align-self: center;
  gap: 2rem;
}

.flex-child7 {
  align-items: center;
  width: 291px;
  height: 396px;
  aspect-ratio: 1;
  border: 1px solid;
  text-align: center;
  padding-block: 1.5rem;
  background-color: #c4c6c9;
}

.flex-child7:nth-of-type(2) {
  /* background-color: #808080; */
}

.flex-child7:nth-of-type(3) {
  /* background-color: #808080; */
}

.flex-child7:nth-of-type(4) {
  /* background-color: #808080; */
}

.container8 {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: rgb(206, 212, 212);

  width: 1440px;
  height: 580px;

  gap: 1.5rem;
  justify-content: center;
  padding-block: 4rem;
}

.child-h3 {
  align-self: center;
}

.nav1 {
  align-self: center;
}

.container8 a {
  text-decoration: none;
  color: black;
}

.nav1 li {
  display: inline-block;
  margin-block: 5px;
  margin-left: 25px;
}

.ul1 {
  align-self: center;
}

.ul1 li {
  display: inline-block;
  margin-block: 5px;
  margin-left: 25px;
  background-color: rgb(157, 210, 215);
}

.I {
  clip-path: circle(closest-side at 20% 20% center);
}
